<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word text</title>
</head>
<body>
    <img src="data:image/png;base64,{{ img_64 }}" alt="{{ img_alt }}">
    <p>This question will take {{ time }} seconds to read.</p>
</body>
</html>